@charset "utf-8";

/*RESET*/
* { margin:0; padding:0; }
a { text-decoration:none; color:#97bf0d; }
a:hover { color:#658200;}
a:visited { color: #cce47a;}
images {border:0px;}

/*ESTRUTURA*/
body { background:#fbfbfb; font-family:Arial, Helvetica, sans-serif; font-size:12px; border-top:6px solid #dff6ff;}
#geral {  }
#holder { margin:auto; width:960px;}

/*TOPO*/
#topo { height:166px; width:960px; position:relative; }
#acessibilidade { position:absolute; height:19px; line-height:19px; top:5px; right:0px;}
#acessibilidade a { padding:0px 3px;; }
#logo { position:absolute; top:24px; left:20px; }
#frase { position:absolute; top:45px; left:406px; }
#minasfacil { position:absolute; top:80px; right:8px; }
#areabusca { position:absolute; bottom:0px;}
#menu { width:960px; height:41px; line-height:41px; background:url(../images/geral/bg_menu.png) no-repeat; float:left; margin-top:10px; padding:0 14px; }
#menu li { display:inline; }
.usuario_autenticado_topo { float:right; font-size:11px; }
.usuario_autenticado_topo span { margin-left:5px;}
.usuario_autenticado_topo images { margin:0px 5px;}

/*CONTEUDO*/
#conteudo_central { background:url(../images/geral/conteudo_central.gif) repeat-y; padding:18px 20px 0px 20px; }
#fundo_conteudo { background:url(../images/geral/conteudo_fundo.gif) no-repeat; height:18px; }
#interna { float:left; width:660px;}
#infor_uteis_topo { height:9px; background:url(../images/geral/bg_topo_inforuteis.gif) no-repeat; width:239px;}
#infor_uteis_centro { background:url(../images/geral/bg_centro_inforuteis.gif); padding-bottom:10px;}
#infor_uteis_fundo { height:9px; background:url(../images/geral/bg_fundo_inforuteis.gif) no-repeat; width:239px;}
#coluna_direita { width:239px; float:right; }
#coluna_direita h2 { background:url(../images/geral/icone_inforuteis.jpg) no-repeat left 5px; font-size:16px; padding:0px 0px 10px 33px; margin:0px 13px; height:30px; line-height:30px; border-bottom:1px dashed #a5a5a5;}

/*MIGALHAS*/
.migalhas { border-bottom:1px solid #e1e1e1; font-size:11px; border-bottom:1px solid #e1e1e1; height:20px; margin-bottom:7px }
.migalhas a { padding:0 3px; }

/*RODAPE*/
#rodape { background:url(../images/geral/bg_rodape.png) no-repeat; height:47px; margin-bottom:15px; }
#sigla { height:17px; width:100px; float:left; text-align:center; padding:15px 0px; }
#endereco { /*height:47px;*/ width:450px; float:left; font-size:10px; padding:11px 0 0 20px; }
#aspectoslegais { height:17px; width:365px; float:left; padding:15px 20px 15px 0px; font-size:11px; text-align:right; }

/*CLASSES COMUNS*/
#menu a, #sigla , h1, #mais_buscados, #utilidades, h2, .botao { font-family: "Segoe UI", Tahoma, Arial, sans-serif!important; font-weight:bold; font-size:13px; }
h1 { font-size:19px; }
input, select { font-size:12px;}
input[type="text"], input.campo, .nome_usuario, .senha_usuario { height:24px; padding:0px 5px; margin-left:5px; border:1px solid #c3c3c3; border-color:#c3c3c3!important; background: url(../images/geral/bg_inputtext.gif) repeat-x!important;}
.clear { clear:both; height:1px;}
.texto_centralizado { text-align: center;}
.right {float:right!important; }

/*MENU*/
#menu a { color:#FFFFFF; padding:4px 7px; }

/*DUVIDAS FREQUENTES*/
.campo_duvidas { border:1px solid #949494; width:173px; height:20px; margin-left:16px; font-size:12px; padding-left: 5px;}

/*MENSAGENS*/
.errormsg, .warnmsg, .infomsg { list-style:none; padding: 10px; margin: 20px 0px;  display: block; }
.errormsg { background:#FFCECE; border:1px solid #DF8F8F; }
.warnmsg { background:#FFFF99; border:1px solid #FF9933; }
.infomsg { background:#DBE3FF; border:1px solid #A2B4EE; }

/*SUBMENUS INTERNOS*/
#submenu { margin-bottom:20px; background:#fafafa; border:1px solid #e1e1e1; }
#submenu li { list-style:none; border-bottom:1px dotted #e1e1e1; }
#submenu ul { padding:15px 15px; }
#submenu ul li:last-child { border-bottom:0px;}
#submenu a { display:block; color:#000000; padding:10px 0 10px 25px; font-size:12px!important; background:url(../images/geral/list-image-verde.png) no-repeat 4px center; }
#submenu a:hover { color:#bf2414; background-color: #fff;}

/*MENSAGENS ASSINANTES*/
.msg_externa_erro_assinante, .msg_externa_alerta_assinante, .msg_externa_info_assinante { list-style:none; padding: 10px; margin-top: 20px; display: block; width:786px; }
.msg_externa_erro_assinante { background:#FFCECE; border:1px solid #DF8F8F; }
.msg_externa_alerta_assinante { background:#FFFF99; border:1px solid #FF9933; }
.msg_externa_info_assinante { background:#DBE3FF; border:1px solid #A2B4EE; }
ul#mensagensAssinantes { margin-top:20px;}
ul#mensagensAssinantes li { padding:10px;}

/*REGISTRO DIGITAL*/
.rd_protocolo { border-bottom:1px dashed #aaa; padding:15px 0px 15px 0px; }
input.jota { width:151px;}

/*BOTÕES*/
.botao { width:95px; height:30px; border:0px; font-size:12px!important; color:#fff!important;  padding-left:20px; line-height:30px; display:inline-block;}
.botao.pesquisar { background:url(../images/geral/b_pesquisar.png); margin-left:10px; width:95px; }
.botao.pesquisar:hover { background:url(../images/geral/b_pesquisar_hover.png); }
.botao.gravar {background:url(../images/geral/b_gravar.png); margin-left:10px; margin-top:15px; height: 40px; width: 85px; float:right; margin-bottom:15px; }
.botao.gravar:hover {background:url(../images/geral/b_gravar_hover.png); }
.botao.editar {background:url(../images/geral/editar.png); margin-left:10px; height: 40px; width: 75px; float:right; }
.botao.editar:hover {background:url(../images/geral/editar_hover.png); }
.botao.assinar {background:url(../images/geral/assinar.png); margin-left:10px; height: 40px; width: 83px; float:right; }
.botao.assinar:hover {background:url(../images/geral/assinar_hover.png); }
.botao.finalizar {background:url(../images/geral/finalizar.png); margin-left:10px; height: 40px; width: 88px; float:right; }
.botao.finalizar:hover {background:url(../images/geral/finalizar_hover.png); }
.botao.remover {background:url(../images/geral/remover_arquivos.png); margin-left:10px; height: 40px; width: 141px; float:right; }
.botao.remover:hover {background:url(../images/geral/remover_arquivos_hover.png);}
.botao.processo {background:url(../images/geral/download_processo.png); margin-left:10px; height: 40px; width: 152px; float:right; }
.botao.processo:hover {background:url(../images/geral/download_processo_hover.png);}
.botao.termo {background:url(../images/geral/download_termo.png); margin-left:10px; height: 40px; width: 231px; float:right; }
.botao.termo:hover {background:url(../images/geral/download_termo_hover.png);}
.botao.sim {background:url(../images/geral/sim.png); margin-left:10px; height: 30px; width: 85px; float:right; }
.botao.sim:hover {background:url(../images/geral/sim_hover.png);}
.botao.nao {background:url(../images/geral/nao.png); margin-left:10px; height: 30px; width: 85px; float:right; }
.botao.nao:hover {background:url(../images/geral/nao_hover.png);}
.botao.validar {background:url(../images/geral/botao/validar.png); margin-left:10px; height: 40px; width: 83px; float:right; }
.botao.validar:hover {background:url(../images/geral/botao/validar_hover.png);}
.botao.voltar {background:url(../images/geral/botao/voltar.png); margin-left:10px; height: 40px; width: 80px; float:right; }
.botao.voltar:hover {background:url(../images/geral/botao/voltar_hover.png);}
.botao.adiciona_assinante { background:url(../images/geral/b_adicionar_assinante.png); width:149px; }
.botao.adiciona_assinante:hover { background:url(../images/geral/b_adicionar_assinante_hover.png); }
.botao.adiciona_numero_dae { background:url(../images/geral/b_adicionar_dae.png); width:155px;}
.botao.adiciona_numero_dae:hover { background:url(../images/geral/b_adicionar_dae_hover.png); }
.botao.adicionar_arquivo { background:url(../images/geral/b_selecionar_arquivo.png) no-repeat; width:141px; padding-left:0px;}
.botao.visualizar_arquivo {background:url(../images/geral/botao/visualizar-arquivo.png) no-repeat; padding-left:20px;}
.botao.visualizar_arquivo:hover {background:url(../images/geral/botao/visualizar-arquivo_hover.png) no-repeat; }
.botao.remover_arquivo { background:url(../images/geral/botao/remover.png) no-repeat; width:91px; margin-right:5px;  }
.botao.remover_arquivo:hover { background:url(../images/geral/botao/remover_hover.png) no-repeat;  }
.botao.confimar_edicao {background:url(../images/geral/sim.png); height: 30px; width: 85px; padding:0px;  }
.botao.confimar_edicao:hover {background:url(../images/geral/sim_hover.png);}
.botao.avancar {background:url(../images/geral/botao/avancar.png); margin-left:10px; height: 40px; width: 89px; }
.botao.avancar:hover {background:url(../images/geral/botao/avancar_hover.png); }
.botao.avancar.disabletrue, .botao.avancar.disabletrue:hover {background:url(../images/geral/botao/avancar_disable.png); margin-left:10px; height: 40px; width: 89px; }

/*UPLOAD*/
.fileupload-buttonbar, .idFileUploadAnexos_input { background:none!important; padding:0px!important; margin:0px!important; border:0px!important; }
.fileupload-content { border:0px!important;}
#idFileUploadAnexos, #idFileUploadDocPrincipal { height:auto!important; width:100%!important;}
.ui-button-icon-left { display:none!important; background:none!important;}
label.ui-button {background:none!important; border:0px!important; height:30px!important; }
.ui-button-text { border:0px!important; height:30px!important; width:110px!important; line-height:22px!important; color:#fff!important; }
table.files { width:100%!important; margin: 15px 0px 0px 0px!important;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { background: none!important; border: 0px!important; box-shadow: none!important; color: #fff!important; }
.ui-button-text { text-shadow:none!important;}

div.bgcinza { background:#f2f2f2; padding:14px; line-height:18px; margin:14px 0px; }
div#assinantes { padding:14px 0px; border-bottom: 1px dashed #aaa; border-top:1px dashed #aaa;}
input.nome_assinante { width:220px; margin-right:10px;}
input.email_assinante {width:119px; margin-right:10px; }
input.cpf_assinante { width:80px; }
div.adiciona_assinantes { text-align:right; margin-top:10px; }
div.dados_assinantes, div.dados_dae {margin-top:10px; padding-left:5px;}
div#dae { padding: 14px 0px; border-bottom: 1px dashed #aaa; margin-bottom:15px; }
div.adiciona_num_dae { margin-top:10px; }
input.numero_dae { width:235px;}
.text_centralizado { text-align:center;}
.espaco_lateral { margin-right:15px;}

#envio_arquivos { padding-top:14px;}
.remover_arquivo { background:url(../images/geral/remover_icone.png); }
/*div.arquivo_enviado { width:210px; height:107px; background:#deefbf; margin:10px 5px 0px 5px; float:left;}*/
.documento .dados { margin-top:5px;}
div.arquivo_enviado { width:100%; height:160px; background:/*#deefbf*/ #f2f2f2; margin-bottom:10px; }
div.arquivo_enviado_validacao { width:650px; height:107px; background:#deefbf; margin:10px 5px 0px 5px; float:left;}
.miniatura { width:115px; height:130px; /*background:url(../images/geral/sombra_thumbnail_arquivo.png) no-repeat; padding: 3px 7px 11px 7px;*/ float:left; margin:15px; }
.dados_documento { width:475px; float:left; font-size:12px; margin:15px 15px 15px 0px; height:130px; overflow:hidden; position:relative; }
.dados_documento span { font-size:16px; font-weight:bold; font-family: "Segoe UI", Tahoma, Arial, sans-serif }
.acoes_documento { position:absolute; right:0px; bottom:0px; }
.dados_documento .botao { float:right!important; margin-right:5px; }
div.adicionar_documento, div.holder_anexo, .adicionar_assinante_documento { margin:10px 0px; padding-bottom:14px; border-bottom: 1px dashed #aaa;}
.link_remover { font-weight:bold; color:red; padding-left:10px  }
/*.arquivo_capa_processo { background: #66AFF9!important;}*/
.msg_valida_ass { width:100%; height:82px; font-size:32px; line-height:82px; text-align:center; margin:20px 0px; }
.msg_valida_ass.valida { background:#DBE3FF; border:1px solid #A2B4EE; color:#08540e; }
.msg_valida_ass.invalida { background:#FFCECE; border:1px solid #DF8F8F; color:#8c0e0e; }
.tabela_validar_arquivos {margin-bottom:20px;}
.opcoes_sistema images { margin: 4px;}
/*div.rf-cp-hdr { background:#f2f2f2; line-height:30px!important; height:30px!important; font-family: "Segoe UI", Tahoma, Arial, sans-serif!important; background-image: none!important; }*/
.adicionar_assinante_documento .botao { margin-left:10px;}
#assinantesDocumento, .filtros_assinantes { margin-bottom:15px; }
.tabela_assinantesdocumento { overflow:scroll; height:160px; }


/*upload de arquivo*/
#idFileUploadDocPrincipal object {filter: alpha(opacity=00); /* internet explorer */ -khtml-opacity: 0.0; /* khtml, old safari */ -moz-opacity: 0.0; /* mozilla, netscape */ opacity: 0.0;/* fx, safari, opera */}
#idFileUploadAnexos object {filter: alpha(opacity=00); /* internet explorer */ -khtml-opacity: 0.0; /* khtml, old safari */ -moz-opacity: 0.0; /* mozilla, netscape */ opacity: 0.0;/* fx, safari, opera */}
.box_num_registrodigital { border:1px solid #b5b5b5; padding:10px; margin:auto; background:#e1e1e1; width: 357px; height: 60px; margin-top:20px; margin-bottom:20px; }
.numero_protocolo {font-size: 40px; font-weight:bold; }


/*---PADRÃO DE TABELA---*/
.dados .header_tabela, .dados th, .dados .header_tabela td { background:url(../images/geral/bg_header_tabela.gif) repeat-x; border-bottom:1px solid #d7d7d7!important; text-align:left; background-color: #ededed; }
.dados th, .dados td, .dados .entradadado1 td, .dados .entradadado2 td { padding-left:10px; padding-right:10px; border-left: 1px solid #d7d7d7!important;  }
.dados .entradadado1, .dados .entradadado1 td { background:#ffffff; border-bottom:0px!important; border-top:0px!important; border-right:0px!important; }
.dados .entradadado2, .dados .entradadado2 td { background:#ececec; border-bottom:0px!important; border-top:0px!important; border-right:0px!important; }
.dados { border:1px solid #d7d7d7!important; border-left:0px!important; }
/*.dados images { margin-top:2px;}
.dados .entradadado1 td images, .dados .entradadado2 td images { margin-left:-10px; }*/
.dados th a {color:#000;}


/*APPLET ASSINADOR*/
#panelAssinador { position:relative;}
#applet_holder { background:url(../images/geral/applet_assinador.png) no-repeat; }
#panelAssinador applet {filter: alpha(opacity=00); /* internet explorer */ -khtml-opacity: 0.0; /* khtml, old safari */ -moz-opacity: 0.0; /* mozilla, netscape */ opacity: 0.0;/* fx, safari, opera */}

/*AUTORIZAR*/
#interna h1 { margin-bottom:10px; }
input.nire { margin-right:10px; }
#nomeEmpresa label { margin-right:5px; }
#panelDadosempresa { padding-bottom:15px; margin-top:15px; border-top:1px dashed #aaa; }


/*CORREÇÕES IE*/
.msie input[type="text"], .msie input[type="password"], .msie input.campo { height:19px; padding-top:5px;}
.msie .botao { border:0px!important; }

#destaqueOutputText {background:Bisque;}

/*---PAGINAÇÃO---*/
ul{	border:0; margin:0; padding:0; }	
ul.paginacao { margin-right:2px;}
.pag { margin:10px 0px; margin-left:70px; }
.paginacao li{ border:0; margin:0; padding:0; font-size:11px; list-style:none; display:block; background:url(../images/bg_paginacao.gif) #fff repeat-x bottom; }
.paginacao a{ border:solid 1px #DDDDDD; /*margin-right:2px;*/ }
.paginacao .proxima, .paginacao .ultima, .paginacao .anterior, .paginacao .primeira { width:80px; font-weight:bold; }
.paginacao .primeira { width:100px;}
.paginacao .previous-off, .paginacao .next-off { display:block; float:left; font-weight:bold; padding:3px 4px; }
.paginacao .next a, .paginacao .previous a { font-weight:bold; border:solid 1px #FFFFFF; }
.paginacao .active{ color:#000; font-weight:bold; display:block; }
.paginacao a:link, .paginacao a:visited { display:block; background-color:#eee; padding:4px 8px; text-decoration:none; }
.paginacao a:hover{ border:solid 1px #666666; }
.paginacao li.paginacao_ativa { background: none!important; padding:3px 6px!important;}

/*TABELA ANALISE ENDEREÇO*/
.tab_analiseend { width:660px; margin-top:15px; }
.tab_analiseend td, .tab_analiseend .entradadado1 td, .tab_analiseend .entradadado2 td { padding:5px 4px 5px 5px!important; }/*limpa estilo richfaces*/
.tab_analiseend td *, .tab_analiseend .entradadado1 td *, .tab_analiseend .entradadado2 td * { margin:0px!important; padding:0px!important; border:0px!important; }/*limpa estilo richfaces*/
.tab_analiseend tbody { border-bottom:1px solid #D7D7D7; }
.filtro_analise_endereco .nome_requerente { width:410px; margin-bottom:10px; }
.filtro_analise_endereco .dias_pendentes { width:105px; }
.filtro_analise_endereco #municipio { margin-right:15px; }
.filtro_analise_endereco .protocolo { margin-right:15px; }
.filtro_analise_endereco table { margin-top:10px;}
.rf-sel-btn { border: 0px!important; background: none!important;}
.rf-sel-btn-arrow { height:24px!important;}

/*LOGIN*/
#login_inicial { /*margin-top:20px; margin:auto; margin-bottom:50px; margin-top:50px; border:1px solid #e1e1e1; width:350px;*/ }
.nome_usuario, .senha_usuario { width:200px; margin:5px 5px 15px 10px!important; padding:2px!important;  }
.senha_usuario { width:150px; }
#login_inicial label {  }
#log_fundo { height:40px; line-height:40px; padding:0px 20px 20px 20px; }
#log_top { background: #f2f2f2; padding:20px 20px 20px 20px; /*border-bottom:1px solid #e1e1e1;*/ font-size:14px; font-family: "Segoe UI", Tahoma, Arial, sans-serif!important; }
#log_centro {padding:15px 20px 0px 20px;}